@{
    var msg = ViewBag.Message;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/app/libs/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <ul>
        <li>
            <a href="~/">~/</a>
        </li>
        <li>
            <a href="~/Views/Demo.Index">~/Views/Demo.Index</a>
        </li>
        <li>
            <a href="~/Views/Demo.Index2">~/Views/Demo.Index2</a>
        </li>
        <li>
            <a href="~/Views/Demo/Append">~/Views/Demo/Append</a>
        </li>
    </ul>
    <hr/>
    @RenderBody()
    <hr/>
    <p>@msg</p>
</div>
</body>
</html>
